@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

/* shared styles */
.display-flex{
  display: flex;
}

/* text oranges */
.text-orange{
  color: #FEA301;
}

/* text skyblue */
.text-skyblue{
  color: #01ACFD;
}

/* text aqua */
.text-aqua{
  color: #05D4DF;
}
/* text blue */
.text-blue{
  color: #5D58EF;
}

/* navbar related styles */
.logo{
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}
.navbar{
  align-items: center;
  max-width: 1158.61px;
  padding-top: 20px;
  margin: 0 auto;
  justify-content: space-between;
}


.nav-item{
  list-style: none;
  margin-right: 25px;
}

.nav-links{
  
}
.nav-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.btn-primary{
  background-color: #FEA301;
  color: white;
  width: 197px;
  height: 50px;
  border-radius: 12px;
  border: none;
}

.banner{
  max-width: 1158px;
  margin: 0 auto;
}
.banner-title{
  font-weight: 700;
  font-size: 56px;
}

/* banner related styles */
.banner-content{
  max-width: 640px;
  margin: 0 auto;
  margin-top: 122px;
}
.banner-description{
  margin-top: 24px;
  margin-bottom: 24px;
}
.btn{
  background-color: #111111;
  color: white;
  width: 197px;
  height: 50px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 20px;
}

/* main related styles */
.bg-img{
  background-image: url("/assets/bg.png");
  max-width: 1160px;
  margin: 0 auto;
}
.section{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}
.section-title{
  font-weight: 700;
  font-size: 46px;
}

/* card related styles */
.card.one{
  background-image: linear-gradient(#DEF5FF,white);
}
.card.two{
  background-image: linear-gradient(#FFF4DC,white);
}
.card.three{
  background-image: linear-gradient(#EEE1FF,white);
}
.section{
  background-image: url(/assets/bg.png);
}
.title{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 80px;
}
.all-card{
  text-align: center;
  padding-top: 80px;
  gap: 29px;
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
}
.card{
  border-radius: 18px;
  text-align: center;
 
  padding: 50px 40px 50px 40px;
}
.card-title{
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 33px;
  margin-bottom: 33px;
}
.card-description{
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 33px;
}
.card-btn{
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
.icon{

  margin-top: 80px;
}
